<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stye.css" />
  </head>
  <body>
    <h1 style="text-align: center">
      Portal : Sentiment Based Product Recommendation System
    </h1>
    <br />
    <br />
    <br />
    <br />
    <center>
      <form align="center" action="{{url_for('recommend')}}" method="post">
        <input type="text" class="textbox" id="user_name" name="user_name" />
        <input type="submit" class="button" value="Submit" />
      </form>
      <br />
      <br />
      <br />
      <br />
      <h2 style="text-align: center; color: grey">{{ text2 | safe }}</h2>
      <br />
      <br />
      {{ table|safe }}
    </center>
  </body>
</html>
